@media (min-width: 500px) {
  .category-logo-img {
    animation: rotatelogo 150s infinite linear;
  }
}

@keyframes rotatelogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
