
.category-logo {
  display: none;
}

@media (min-width: 500px) {
  .category-logo {
    margin: 0 auto;
    display: block;
    width: 470px;
    height: 470px;
  }

  .category-logo img {
    animation: rotatelogo 150s infinite linear;
    user-select: none;
  }
}

@keyframes rotatelogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
