.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.hero-text {
  padding-top: 40px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.hero-text h2 {
  font-size: 20px;
}
.hero-text h3 {
  font-size: 20px;
}
.hero-background {
  width: 50%;
}
