.category {
  padding: 35px 0 0;
  background-color: #fff;
  min-width: 320px;
  position: relative;
  box-sizing: border-box;
  position: relative;
}

/*
.category::before {
  background: rgba(0, 0, 0, 0) url(../../assets/images/blueberry-48.png) 0 10px
    no-repeat;
  content: "";
  position: absolute;
  display: block;
  width: 260px;
  height: 60px;
  top: -20px;
  left: 50%;
  z-index: 10;
}
*/
