@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --dark-primary-color:#1d965c  /*#00796b;*/
  --primary-color: #32bb78; /*#009688*/
  --light-primary-color: #b2dfdb;
  --accent-color: #ffc107;
  --primary-text: #212121;
  --secondary-text: #757575;
  --third-text: #99a5a3;
  --devider-color: #bdbdbd;
  --text-icon-color: #ffffff;
}

.btn {
  @apply rounded-full px-6 py-3 cursor-pointer transition ease-in-out duration-1000 hover:scale-95;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

h2{
  direction: rtl;
}

.fade-in-up {
  animation-name: fadeInUp;
  opacity: 0;
  transform: translateY(20px);
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
